*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ld_circle{
    width: 300px;
    height: 300px;
    border: 30px solid blue;
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    border-radius: 300px;
    margin: 20%;
    animation-name: load_circle;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes load_circle {
    100%{
        transform: rotate(360deg);
    }


}