*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *퍼센트 변경 공식
=>변경할 값 / 상위 부모의 값 * 100 */

.con_wrap{
    /* width: 1400px; */
    width: 72.91666%;
    height: 500px;
    background-color: cadetblue;
    margin: 0 auto;
}

.con{
    /* width: 300px; */
    width: 42.85714%;
    height: 400px;
    background-color: darkblue;
    margin: 0 auto;
}