*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

header{
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 26px;
    font-weight: 900;
}

.menuwrap{
    display: flex;
}

.menuwrap li{
    margin-left: 80px;
    font-size: 18px;
    font-weight: 900;
}

.menuicon{
    display: none;
}

.line{
    width: 50px;
    height: 2px;
    margin-top: 10px;
    background-color: black;
}

.sec_1{
    height: 100vh;
    padding: 350px 250px;
    background-color: cadetblue;
}

.title1{
    font-size: 70px;
    font-weight: 900;
}

.sec_2{
    padding: 100px 250px;
}

.title2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.con_wrap2{
    display: flex;
    justify-content: space-between;
}

.con{
    width: 30%;
}

.con h3{
    font-size: 18px;
    font-weight: 900;
    margin-top: 10px;
}

.sec_3{
    height: 600px;
    background-color: lightblue;
}

@media screen and (max-width: 768px) {

    header{
        padding: 20px;
    }

    .menuwrap{
        display: none;
    }
    .menuicon{
        display: block;
    }

    .sec_1{
        padding:600px 0 100px 50px;
    }

    .title1{
        font-size: 40px;
    }

    .sec_2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .con_wrap2{
        /* flex-direction: column; */
        display: block;
    }

    .con{
        width: 100%;
    }

    .con img{
        width: 100%;
    }

}